<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="reusableComponents.ListenersImplementation" />
	</listeners>
	<test name="Test">
		<classes>
			<!--<class name="testPages.LoginPage_Tests" />
			<class name="testPages.AddUserPage_Test" />
			<class name="pageObjects.AddUserPageObjects" />-->
			<class name="testPages.RegistrationPage_Test" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->